SERVICE_TOKEN=nova
ADMIN_PASSWORD=nova
GUEST_PASSWORD=nova
ENABLED_SERVICES=g-api,g-reg,key,n-api,n-cpu,n-net,n-sch,n-vnc,horizon,mysql,rabbit,openstackx,n-vol

ROOTSLEEP=3
#HOST_IP=10.9.13.24
PUBLIC_INTERFACE=eth0
VLAN_INTERFACE=eth1
FLOATING_RANGE='192.168.57.0/24'
NET_MAN=VlanManager
MULTI_HOST=False
MYSQL_HOST=127.0.0.1
MYSQL_USER=root
MYSQL_PASSWORD=nova
RABBIT_HOST=127.0.0.1
RABBIT_PASSWORD=nova
LIBVIRT_TYPE=qemu

LOGFILE='/opt/stack/devstack.log'
